<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="notes.rednitrogen.com.rednotes">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Welcome"
            android:label="@string/launcher_name"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Notes"
            android:label="@string/activity_title_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tasks"
            android:label="Tasks"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".widget.RedNotesWidget"
            android:label="Nitrogen Notes">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/red_notes_widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.TaskWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".widget.WidgetConfig"
            android:label="Choose Note">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.RedTasksWidget"
            android:label="Nitrogen Tasks">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/red_tasks_widget_info" />
        </receiver>

        <activity
            android:name=".Trash"
            android:label="Trash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HelpAndSupport"
            android:label="Help &amp; Support"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>